<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</section>
</div>
<!-- /.card-body -->
</div>

</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

<footer class="main-footer">
<strong>Copyright &copy; Viện hóa học môi trường</a>.</strong> All rights reserved.
</footer>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->

</script>
</body>

</html>
</body>
</html>